<!-- templates/registration/login.html -->
{% extends 'layouts/auth.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post" class="form-signin">
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <a href="{% url 'signup' %}" class="btn btn-outline-primary mt-2 btn-block">Signup</a>
        <p class="mt-5 mb-3 text-muted">&copy; PyGithub</p>
    </form>
{% endblock %}
