<!-- templates/base.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}PyGithub{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/app.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

</head>
<body class="d-flex flex-column h-100">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">PyGithub</h5>

    {% if user.is_authenticated %}
        Hi {{ user.username }} &nbsp;<a class="btn btn-outline-primary mr-2" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="btn btn-outline-primary mr-2" href="{% url 'login' %}">Login</a>
        <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign up</a>
    {% endif %}
</div>

<main role="main" class="flex-shrink-0">
    <div class="container">
        <main role="main" class="flex-shrink-0">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</main>

<footer class="footer mt-auto text-left py-3">
    <div class="container">
        <span class="text-muted">&copy;PyGithub</span>
    </div>
</footer>

</body>
</html>